.doctor-wrapper{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 30px;
}

.doctor-wrapper > p:first-child{
  font-size: 35px;
  font-weight: bold;
}

.doctor-pt-details{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(153, 143, 143);
  border-radius: 15px;
  padding: 30px 0;
  gap: 25px;
  overflow-y: auto;
}

.doctor-pt-details > button{
  width: 25%;
  padding: 20px;
  border-radius: 20px;
}

.doctor-pt-details > button:hover{
  cursor: pointer;
  background-color: rgb(204, 180, 180);
}

.dr-display-box{
  background-color: rgb(214, 199, 199);
  height: 350px;
  width: 90%;
  border-radius: 15px;
}

/* DOCTOR EDIT  */

.doctor-edit{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: rgb(153, 143, 143);
  border-radius: 15px;
  padding: 20px 0;
}

.prescribe{
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

.prescribe-row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
}

.prescribe-row > input{
  padding: 15px 20px;
  border-radius: 10px;
  width: 35%;
  outline: none;
}

.prescribe-row > button{
  padding: 15px 20px;
  border-radius: 20px;
}

.prescribe-row > button:hover{
  cursor: pointer;
  background-color: rgb(204, 180, 180);
}
